In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from urllib.parse import urlencode
import requests
from requests import Response
import datetime as dt
from datetime import time, date, timedelta
from dateutil.relativedelta import relativedelta
import itertools
from math import ceil
import scipy.stats as stats

In [8]:
from ta.momentum import WilliamsRIndicator
def WillR(window_para, highband, to_csv):
    lowband = -100 - highband
    result = pd.read_csv('raw-weekly-pricevolume.csv')
    codes = result['code'].unique().tolist()
    for code in codes:
        close_weekly = result[result['code']==code]['close_weekly']
        high_weekly = result[result['code']==code]['high_weekly']
        low_weekly = result[result['code']==code]['low_weekly']
        result.loc[code == result['code'].shift(window_para),'wr'] = WilliamsRIndicator(high = high_weekly, low = low_weekly, close=close_weekly, lbp=window_para).williams_r()
    result.loc[result['code'] == result['code'].shift(1),'return'] = result['close_weekly']/result['close_weekly'].shift(1) - 1
    result = result.dropna()
    result.loc[(result['code'] == result['code'].shift(1))&(result['wr']<lowband),'signal'] = 1
    result.loc[(result['code'] == result['code'].shift(1))&(result['wr']>highband),'signal'] = 0
    result.loc[result['code'] != result['code'].shift(1),'signal'] = 0
    result = result.ffill()
    
    result.loc[result['code'] == result['code'].shift(1),'daily_return'] = result['signal'].shift(1)*result['return']
    result.loc[(result['code'] == result['code'].shift(1))&(result['signal']==1)&(result['signal'].shift(1)==0),'daily_return']=result['daily_return']-0.005
    
    dailyprofit = pd.pivot(result, index = 'date', columns = 'code', values = 'daily_return')
    dailyprofit = dailyprofit.replace(0, np.nan)
    dailyprofit.reset_index(inplace = True)
    day_return = dailyprofit.copy()
    day_return['count'] = day_return.iloc[:,1:len(dailyprofit.columns.to_list())].count(axis = 1) #exclude date column
    day_return.loc[day_return['count']<5,'profit'] = day_return.iloc[:,1:len(dailyprofit.columns.to_list())].mean(axis = 1,skipna=True)*(day_return['count']/5)
    day_return.loc[day_return['count']==0,'profit'] = 0
    day_return.loc[day_return['count']>=5,'profit'] = day_return.iloc[:,1:len(dailyprofit.columns.to_list())].mean(axis = 1,skipna=True)
    
    profit = (day_return['profit'] +1).cumprod()
    day_return['cumulative'] = profit
    if to_csv:
        day_return.to_csv('checkrsi.csv')
#     cul_arr = day_return['cumulative'].to_list()
#     dd_arr = []
#     maxcul = 0
#     for x in day_return.cumulative.dropna().tolist():
#         if x >= maxcul:
#             maxcul = x
#             dd_arr.append(0)
#         else:
#             dd_arr.append((maxcul-x)/maxcul)
#     print(f'MDD {max(dd_arr)}')
    return float(profit[-1:]), window_para, highband

In [3]:
optimize_result = []
for window_para in range(2,30, 2):
    for highband in range(-50,-5, 2):
        x=WillR(2,highband, to_csv = False)
        optimize_result.append(x)    
optimize_result = pd.DataFrame(optimize_result)

In [6]:
optimize_result.sort_values(by=0, ascending =False ).head(50)

            0   1   2
19   4.676535   2 -12
18   4.674314   2 -14
94   4.585689  10 -46
17   4.560336   2 -16
95   4.496155  10 -44
22   4.461950   2  -6
96   4.459111  10 -42
20   4.428954   2 -10
21   4.428772   2  -8
93   4.415677  10 -48
16   4.354764   2 -18
97   4.329796  10 -40
117  4.257080  12 -46
118  4.255030  12 -44
119  4.249430  12 -42
42   4.245118   4 -12
41   4.217469   4 -14
92   4.212092  10 -50
139  4.194547  14 -48
74   4.192786   8 -40
98   4.192238  10 -38
140  4.189427  14 -46
40   4.188503   4 -16
142  4.181916  14 -42
141  4.168927  14 -44
163  4.167351  16 -46
15   4.165942   2 -20
73   4.165211   8 -42
162  4.160195  16 -48
36   4.156012   4 -24
38   4.124868   4 -20
43   4.123505   4 -10
99   4.121976  10 -36
75   4.115889   8 -38
37   4.114740   4 -22
72   4.114349   8 -44
39   4.112235   4 -18
45   4.110128   4  -6
120  4.094699  12 -40
116  4.092718  12 -48
35   4.080655   4 -26
161  4.068635  16 -50
143  4.065782  14 -40
165  4.062791  16 -42
138  4.060427  14 -50
61   4.049490   6 -20
44   4.045475   4  -8
53   4.038527   6 -36
166  4.026686  16 -40
164  4.019124  16 -44

In [9]:
WillR(2,-12, to_csv = False)

NameError: name 'dd_arr' is not defined