In [5]:
import pandas as pd
import numpy as np
import sqlalchemy
from urllib.parse import urlencode
import requests
from requests import Response
import datetime as dt
from datetime import time, date, timedelta
from dateutil.relativedelta import relativedelta
import itertools
from math import ceil
import scipy.stats as stats
from ta.momentum import RSIIndicator

In [8]:
from ta.trend import EMAIndicator
def EMA(window_para,to_csv):
    result = pd.read_csv('raw-weekly-pricevolume.csv')
    codes = result['code'].unique().tolist()
    for code in codes:
        close_weekly = result[result['code']==code]['close_weekly']
        result.loc[code == result['code'].shift(window_para),'ema'] = EMAIndicator(close=result['close_weekly'],window=window_para).ema_indicator()
    result.loc[result['code'] == result['code'].shift(1),'return'] = result['close_weekly']/result['close_weekly'].shift(1) - 1
    result = result.dropna()
    result.loc[(result['code'] == result['code'].shift(1))&(result['close_weekly']>result['ema']),'signal'] = 1
    result.loc[(result['code'] == result['code'].shift(1))&(result['close_weekly']<result['ema']),'signal'] = 0
    result.loc[result['code'] != result['code'].shift(1),'signal'] = 0
    result = result.ffill()
    
    result.loc[result['code'] == result['code'].shift(1),'daily_return'] = result['signal'].shift(1)*result['return']
    result.loc[(result['code'] == result['code'].shift(1))&(result['signal']==1)&(result['signal'].shift(1)==0),'daily_return']=result['daily_return']-0.005
    
    
    dailyprofit = pd.pivot(result, index = 'date', columns = 'code', values = 'daily_return')
    dailyprofit = dailyprofit.replace(0, np.nan)
    dailyprofit.reset_index(inplace = True)
    day_return = dailyprofit.copy()
    day_return['count'] = day_return.iloc[:,1:len(dailyprofit.columns.to_list())].count(axis = 1) #exclude date column
    day_return.loc[day_return['count']<5,'profit'] = day_return.iloc[:,1:len(dailyprofit.columns.to_list())].mean(axis = 1,skipna=True)*(day_return['count']/5)
    day_return.loc[day_return['count']==0,'profit'] = 0
    day_return.loc[day_return['count']>=5,'profit'] = day_return.iloc[:,1:len(dailyprofit.columns.to_list())].mean(axis = 1,skipna=True)
    
    profit = (day_return['profit'] +1).cumprod()
    day_return['cumulative'] = profit
    if to_csv:
        day_return.to_csv('checksma.csv')
    cul_arr = day_return['cumulative'].to_list()
    dd_arr = []
    maxcul = 0
    for x in day_return.cumulative.dropna().tolist():
        if x >= maxcul:
            maxcul = x
            dd_arr.append(0)
        else:
            dd_arr.append((maxcul-x)/maxcul)
    print(f'MDD {max(dd_arr)}')
    return float(profit[-1:]), window_para

In [9]:
optimize_result = []
for window_para in range(2,50, 1):
    x=EMA(window_para,to_csv = False)
    optimize_result.append(x)    
optimize_result = pd.DataFrame(optimize_result)

MDD 0.45654341384624114
MDD 0.44674585217760326
MDD 0.45465567937670603
MDD 0.445824674050809
MDD 0.4396546775552395
MDD 0.4369269985245503
MDD 0.4348063103382159
MDD 0.4306101377532053
MDD 0.42699707620888394
MDD 0.41479258726562074
MDD 0.398824276550261
MDD 0.393199174321302
MDD 0.3884851706673948
MDD 0.38554505572076103
MDD 0.38551152603321154
MDD 0.3874232379052822
MDD 0.3839426976899444
MDD 0.3840450900638061
MDD 0.38752157627497374
MDD 0.38734658619910023
MDD 0.3921312221455039
MDD 0.3881582435416629
MDD 0.37652284218374654
MDD 0.37029956324220886
MDD 0.3652348210700046
MDD 0.3604715749702007
MDD 0.359283073137583
MDD 0.360869621390227
MDD 0.35768498660460174
MDD 0.3590201887571854
MDD 0.35499497624982285
MDD 0.348039721617216
MDD 0.34646888748414906
MDD 0.3467351558905357
MDD 0.3453361710965574
MDD 0.3437551627022421
MDD 0.3438448939257096
MDD 0.3452261162387415
MDD 0.3461855234329334
MDD 0.34580904421758013
MDD 0.3458350007448178
MDD 0.3424962009050944
MDD 0.3369507139997755
MDD 0.3347702696584887
MDD 0.3340629845970934
MDD 0.3343665412241848
MDD 0.3279859036709296
MDD 0.32300218019523125

In [10]:
optimize_result.sort_values(by=0, ascending =False ).head(50)

           0   1
47  2.218161  49
46  2.187340  48
44  2.159684  46
42  2.158213  44
43  2.156697  45
45  2.156384  47
41  2.146298  43
39  2.125342  41
40  2.124101  42
38  2.100138  40
37  2.081017  39
35  2.071394  37
34  2.067773  36
36  2.062301  38
32  2.048421  34
31  2.041829  33
33  2.036561  35
30  2.011706  32
29  1.985211  31
28  1.971896  30
27  1.951139  29
26  1.923143  28
25  1.920587  27
24  1.868307  26
23  1.820015  25
22  1.782294  24
21  1.710925  23
20  1.667463  22
17  1.659835  19
16  1.644978  18
18  1.634957  20
19  1.634587  21
15  1.621422  17
14  1.565831  16
13  1.525294  15
12  1.498749  14
11  1.485922  13
10  1.448595  12
9   1.388468  11
8   1.315143  10
7   1.271543   9
6   1.227575   8
5   1.180275   7
4   1.140244   6
3   1.060567   5
2   1.000074   4
1   0.976698   3
0   0.882059   2